.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Ensure these are NOT ignored (standard practice is to leave them out of this file)
!syntaxes/*.json
!language-configuration.json